<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}">
</head>

<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Ship Smart</h3>
                <p>Ship Smart helps you find the best delivery options with speed, reliability, and ease.</p>
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pricing</a></li>

                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p>Email: support@shipsmart.com</p>
                <p>Phone: +234 81 0000 9032</p>
            </div>
          
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Ship Smart. All rights reserved.</p>
        </div>
    </footer>
    
</body>