body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    padding: 2rem;
}

.vehicle-section {
    padding: 2rem;
}

.vehicle-form, .vehicle-list {
    margin-bottom: 2rem;
}

.vehicle-form h2, .vehicle-list h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}